@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}


<div id="form" class="layui-form" style="width:90%;height:90%;display:block;margin-top:0px"> 
    @ViewBag.WJNR
</div>

<script src="~/Content/jquery/jquery.md5.js"></script>
<script>
    layui.use(['element', 'form', 'laydate', 'layer'], function () {
        var form = layui.form();
        var element = layui.element();

        

    });
</script>
