@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<style>
    .my-item {
        text-align: center; 
    }

</style>
<form id="form" class="layui-form" style="margin-left:25px;width:96%;height:680px;border:none;outline-style:none;margin-top:0px;">

    <textarea type="text" name="WJNR" style="width:100%;height:100%;border:none;outline-style:none;font-size:16px" readonly></textarea>

    <input style=" text-align: center;
    position: fixed;
    top: 30%;
    right: 20px;
    width: 80px;
    height: 80px;
    padding: 20px;
    display:block;
    background-color:rgba(242,166,84,0.56);
    color:rgb(12, 161, 208);
    border-radius:5px;" type=button value=上一页 onclick="up()">
    <input style=" text-align: center;
    position: fixed;
    top: 50%;
    right: 20px;
    width: 80px;
    height: 80px;
    padding: 20px;
    display:block;
    background-color:rgba(242,166,84,0.56);
    color:rgb(12, 161, 208);
    border-radius:5px;" type=button value=下一页 onclick="down()">
    @*<input style=" text-align: center;
    position: fixed;
    top: 70%;
    right: 20px;
    width: 80px;
    height: 80px;
    padding: 20px;
    display:block;
    background-color:rgba(242,166,84,0.56);
    color:rgb(12, 161, 208);
    border-radius:5px;" type=button value=自动预览 onclick="autoRead(this)">*@
    
</form>


<script>
    var layer;
    layui.use(['form', 'layer'], function () {
        var form = layui.form();
        layer = parent.layer || layui.layer;
        var WJBM = getQueryString("WJBM");
        var WJNO = getQueryString("WJNO");
        var WJMC = getQueryString("WJMC");
        
            $.ajax({
                url: "/TouchScreen/PriceDocument/GetForm",
                data: { WJBM: WJBM, WJNO: WJNO, WJMC: WJMC },
                type: "post",
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form").formSerialize(data);
                }
            });

        form.render();
        
    });


    function close_layer() {
        var index = parent.layer.getFrameIndex(window.name);
        layer.close(index);
    }

    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) {
            
            return decodeURI(r[2]);//修改之后  
        } else { return null; }
    }

    var startx = 0;
    var starty = 0;
    var scrollHeight = 0;
    var maxHeight = 0;
    var flag = true;
    var interval = null;

    function down() {
        var t = document.getElementsByTagName('textarea')[0]; 
        startx += 0;
        starty += 300;
        scrollHeight = t.scrollHeight;
        maxHeight = scrollHeight - 500;

        if (starty >= maxHeight) {
            starty = maxHeight
        }
        $("textarea").animate({ scrollTop: starty + "px" }, 200)
    }

    function up() {
        var t = document.getElementsByTagName('textarea')[0]; 
        startx -= 0;
        starty -= 300;
        scrollHeight = t.scrollHeight;
        maxHeight = scrollHeight - 500;

        if (starty <= 0) starty = 0; 
        $("textarea").animate({ scrollTop: starty + "px" }, 200)
        
    }

    function autoRead(btn) {
        var t = document.getElementsByTagName('textarea')[0]; 
        scrollHeight = t.scrollHeight;
        maxHeight = scrollHeight - 500;

        if (flag == true) {
            flag = false
            btn.value = "预览停止"
            readOpen()
        } else {
            flag = true
            btn.value = "自动预览"
            readClose()
        }

        //for (var i = starty; i <= maxHeight; i += 20) {
        //    starty = i;
        //    if (flag == true) {
        //        break;
        //    }
        //    $("textarea").animate({ scrollTop: i + "px" }, 800)
        //}
         
    }

    function readOpen() {
        if (interval != null) {
            clearInterval(interval);
            interval = null;
        }
        interval = setInterval("animate()", 800)
        console.log(interval)
    }

    function readClose() {
        console.log(interval)

        for (interval = 0; interval < 100; interval++) {
            clearInterval(interval);
        }  
        interval = null
    }

    function animate() {
        if (starty >= maxHeight) {
            return;
        }
        starty += 20
        $("textarea").animate({ scrollTop: starty + "px" }, 800)
    }

</script>
